<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>clientId</key>
	<string>Client-ID KVtPVt64UrQx60c_6Ne2odkNi1hYv7UPnVh5DbhtjG4</string>
	<key>accessToken</key>
	<string>Bearer -r0ZoAA2oYE001Y84oq9pisvITpwsgUwWnFIq4hHTok</string>
</dict>
</plist>
